<div class="photoRegion">Photo</div>
<div class="infoRegion">
    <ul>
        <li>Name: {{firstname}} {{lastname}}</li>
        <li>Age: {{age}}</li>
        <li>Gender: {{gender}}</li>
        <li>Email: {{email}}</li>
        <li>Description: {{description}}</li>
    </ul>
</div>
